*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	overflow-x: initial;
}
h1{
	font-size:150%;
}
.container {
 display:grid;
	grid-template-areas:
	"header"
	"section1"
	"section2"
	"section3"
	"section4"
	"section5"
	"section6"
	"footer";
	grid-template-columns:1fr;
	grid-template-rows:2fr 8fr 8fr 8fr 8fr 8fr 8fr 1fr;
	height:auto;
	width:auto;
}
@media only screen and (min-width:600px){
		.container{
	display:grid;
	grid-template-areas:
	"header header"
	"section1 section2"
	"section3 section5"
	"section4 section6"
	"footer footer";
	grid-template-columns:1fr 1fr;
	grid-template-rows:1fr 6fr 6fr 6fr 1fr ;
	height:auto;
	width:auto;
	}
	.header{
		min-height:3em;
		padding:2vh;
	}
	.footer{
		padding-left:20%;
		padding-right:20%;
	}
	a{
		font-size:400%;
		padding:25.75vh 0vw;
	}
	.footer{
		padding:2.5%;
	}
	.menytagg{
		padding:0;
	}
}
@media only screen and (min-width:769px){
		.container{
	display:grid;
	grid-template-areas:
	"header header header"
	"section1 section1 section2"
	"section1 section1 section3"
	"section4 section5 section5"
	"section6 section5 section5"
	"footer footer footer";
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows:1fr 5fr 5fr 5fr 5fr 1fr ;
	height:180vh;
	width:100%;
}
	.header{
		padding-top:2vh;
	}
	.a1{
	padding:30vh 0vw;
	font-size:800%;
	}
	.a2{
	padding:15vh 0vw;
	}
	.a3{
		padding:15vh 0vw;
	}
	.a4{
		padding:15vh 0vw;
	}
	.a5{
		padding:30vh 0vw;
		font-size:800%;
	}
	.a6{
		padding:15vh 0vw;
	}
	.footer{
		padding:0;
	}
	.menytagg{
		padding:0;
	}
}
section{
	text-align:center;
	font-family: 'Teko', sans-serif;
	color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
    display:block;
    background-position:center;
	background-repeat:no-repeat;
	background-size:100% 100%;
}
a{
	color:white;
	text-decoration:none;
	display:block;
}
a:hover{
	color:grey;
}
a:active{
	color:#C61E00;
}
.header{
	grid-area:header;
	background-color:#F5F4ED;
	text-align:center;
	font-family: 'Work Sans', sans-serif;
	padding:1em;
}
.section1{
	grid-area:section1;
	background-image:url(lagar.jpg);
}
.section2{
	grid-area:section2;
	background-image:url(hackning.jpg);
}

.section3{
	grid-area:section3;
	background-image: url(security.jpg);
}
.section4{
	grid-area:section4;
	background-image: url(tredjepartskod.png);
}
.section5{
	grid-area:section5;
	background-image: url(staten.jpg);
}
.section6{
	grid-area:section6;
	background-image:url(webbhotell.png);
	background-size:75% 90%;
}
.footer{
	grid-area:footer;
	background-color:lightgrey;
	text-align:center;
}
#dropdown{
	position:absolute;
	display:inline-block;
	top:3%;
	left:1%;
	right:95%;
	bottom:95%;
	border:outset 3px white;
	text-align:center;
	color:red;
	min-width:4em;
	min-height:1.75em;
	padding:.5vh .5vw;
	font-family: 'Work Sans', sans-serif;
}
@media only screen and (max-width:600px){
	.header{
		min-height:17vh;
		padding-left:13vw;
	}
	a{
		font-size:500%;
		padding:22.75vh 0vw;
	}
	.menytagg{
		padding:0;
	}
}
#dd-content{
	display:none;
	z-index:1;
	position:absolute;
	min-width:10vw;
	min-height:10vh;
	padding:1vh 1vw;
	text-align:center;
	background-color:lightgrey;
	opacity:97%;
}
#dropdown:hover #dd-content{
	display:block;
}
.menytagg{
	font-size:200%;
	padding:0;
}
.menytagg:hover{
	color:black;
}
.menytagg:active{
	color:red;
}